<% layout('layouts/boilerplate') -%>
<main
  class="lg:px-32 px-2 flex lg:gap-x-4 gap-x-2 lg:mt-8 mt-4 text-sm lg:text-base"
>
  <div
    class="lg:w-[40%] w-[35%] rounded-xl bg-[#91c8e4] lg:flex gap-x-4 lg:px-4 lg:py-4 px-2 py-3"
  >
    <img
      src="/images/empty-profile.png"
      class="lg:w-24 lg:h-24 w-20 h-20 mx-auto lg:mx-0"
    />
    <div class="flex flex-col justify-between">
      <p class="font-bold text-center lg:text-left mt-2 lg:mt-0">Full Name</p>
      <div class="font-thin">
        <div class="lg:flex lg:items-center lg:gap-x-2">
          <p class="text-center lg:text-left"><%= patient.fullName %></p>
          <img src="/images/edit-name.png" class="w-6 hidden lg:inline-block" />
        </div>
        <p class="text-center lg:text-left">ID: <%= patient.patientId %></p>
      </div>
    </div>
  </div>
  <div
    class="w-[20%] hidden lg:flex rounded-xl bg-[#91c8e4] flex-col items-center justify-center"
  >
    <p class="font-bold">Gender</p>
    <img src="/images/gender.png" class="w-16 h-16" />
  </div>
  <div
    class="w-[20%] rounded-xl hidden lg:flex bg-[#91c8e4] flex-col items-center p-4"
  >
    <p class="font-bold">Date of Birth</p>
    <p class="text-center font-thin"><%= patient.dateOfBirth %></p>
  </div>
  <div
    class="lg:w-[40%] w-[65%] rounded-xl bg-[#91c8e4] flex justify-between gap-x-8 items-center lg:items-start lg:px-4 lg:py-4 px-4"
  >
    <div class="flex flex-col justify-between">
      <div>
        <p class="font-bold">Room No.</p>
        <div class="flex gap-x-1 items-center">
          <p class="font-thin">ROOM00001</p>
          <img src="/images/edit-name.png" class="w-4" />
        </div>
      </div>
      <div class="mt-2 lg:mt-0">
        <p class="font-bold">Bed No,</p>
        <div class="flex gap-x-1 items-center">
          <p class="font-thin">BED00001</p>
          <img src="/images/edit-name.png" class="w-4" />
        </div>
      </div>
    </div>
    <div>
      <p class="font-bold">Doctor's Name</p>
      <p class="font-thin">dr. David Hasbara Hareva,S.Si.,MHS</p>
    </div>
  </div>
</main>

<main class="mt-4 lg:px-32 px-2 flex items-start">
  <div class="flex flex-col gap-y-2 items-center w-[20%] lg:w-auto">
    <div
      class="py-4 px-6 hover:bg-[#91c8e4] transition duration-150 ease-in rounded-l-md shadow-xl w-full cursor-pointer"
      onclick="showPage('page1');"
      onmouseover="changeImage('option1', '/images/checklist-white.png')"
      onmouseout="changeImage('option1', '/images/checklist.png')"
      id="option1"
    >
      <img src="/images/checklist.png" id="option1Image" />
    </div>
    <div
      class="py-4 px-6 rounded-l-md shadow-xl cursor-pointer hover:bg-[#91c8e4] transition duration-150 ease-in"
      onclick="showPage('page2')"
      onmouseover="changeImage('option2', '/images/sleep-white.png')"
      onmouseout="changeImage('option2', '/images/sleep.png')"
      id="option2"
    >
      <img src="/images/sleep.png" id="option2Image" />
    </div>
    <div
      class="py-4 px-6 rounded-l-md shadow-xl cursor-pointer hover:bg-[#91c8e4] transition duration-150 ease-in"
      onclick="showPage('page3')"
      onmouseover="changeImage('option3', '/images/heart-rate-white.png')"
      onmouseout="changeImage('option3', '/images/heart-rate.png')"
      id="option3"
    >
      <img src="/images/heart-rate.png" id="option3Image" />
    </div>
    <div
      class="py-4 px-6 rounded-l-md shadow-xl cursor-pointer hover:bg-[#91c8e4] transition duration-150 ease-in"
      onclick="showPage('page4')"
      onmouseover="changeImage('option4', '/images/person-white.png')"
      onmouseout="changeImage('option4', '/images/person.png')"
      id="option4"
    >
      <img src="/images/person.png" id="option4Image" />
    </div>
  </div>
  <div
    class="w-[80%] lg:w-full bg-[#91c8e4] lg:p-4 p-2 rounded-r-md rounded-bl-md gap-x-2 flex items-start main"
  >
    <div class="w-full hidden" id="page1">
      <div class="flex-col lg:flex-row gap-x-4 w-full hidden lg:flex">
        <div
          class="rounded-xl bg-[#c8e4f1] lg:w-[70%] lg:h-96 h-32 flex items-center justify-center p-4"
        ></div>
        <div
          class="rounded-xl bg-[#c8e4f1] lg:w-[30%] lg:h-96 h-32 mt-2 lg:mt-0"
        ></div>
      </div>
      <div class="flex flex-col lg:flex-row gap-x-4 w-full lg:mt-4">
        <div
          class="rounded-xl flex flex-col justify-between bg-[#c8e4f1] w-full lg:p-4 p-2 h-64"
        >
          <div>
            <p class="font-bold text-xl">Blood Pressure</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/blood-pressure.png" alt="" srcset="" />
              <p class="font-bold text-[#6472f8] text-5xl">
                <%= patient.bloodPressure %><span
                  class="text-black font-thin text-base"
                  >mmHg</span
                >
              </p>
            </div>
          </div>
          <div>
            <p class="font-bold mt-2 text-xl">Mean Pulse</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/mean-pulse.png" alt="" srcset="" />
              <p class="font-bold text-[#a472b8] text-5xl">
                <%= patient.meanPulse %><span
                  class="text-black font-thin text-base"
                  >bpm</span
                >
              </p>
            </div>
          </div>
        </div>
        <div
          class="rounded-xl bg-[#c8e4f1] w-full p-4 h-64 flex items-center justify-center mt-2 lg:mt-0"
        >
          <div class="w-full">
            <p class="font-bold text-xl">Heart Rate</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/heart-rate-2.png" alt="" srcset="" />
              <p class="font-bold text-[#e4c478] text-5xl">
                <%= patient.heartRate %><span
                  class="text-black font-thin text-base"
                  >bpm</span
                >
              </p>
            </div>
          </div>
        </div>
        <div
          class="rounded-xl flex flex-col justify-between bg-[#c8e4f1] w-full p-4 h-64 mt-2 lg:mt-0"
        >
          <div>
            <p class="font-bold text-xl">SPO2</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/o2.png" alt="" srcset="" />
              <p class="font-bold text-[#64b278] text-5xl">
                <%= patient.spo2 %><span class="text-black font-thin text-base"
                  >%</span
                >
              </p>
            </div>
          </div>
          <div>
            <p class="font-bold mt-2 text-xl">RR</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/rr.png" alt="" srcset="" />
              <p class="font-bold text-[#e47278] text-5xl">
                <%= patient.rr %><span class="text-black font-thin text-base"
                  >bpm</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-full flex flex-col lg:flex-row gap-x-32 lg:mt-4 mt-2 bg-[#c8e4f1] p-4 rounded-xl"
      >
        <div class="w-full">
          <div class="w-full">
            <p class="font-bold text-xl">BMI</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/bmi.png" alt="" srcset="" />
              <p class="font-bold text-[#5daf70] text-5xl">
                <%= patient.bmi %><span class="text-black font-thin text-base"
                  >kg/m2</span
                >
              </p>
            </div>
          </div>
          <div class="w-full mt-4">
            <p class="font-bold text-xl">Body Temperature</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/body-temperature.png" alt="" srcset="" />
              <p class="font-bold text-[#e47278] text-5xl">
                <%= patient.bodyTemperature %>°<span
                  class="text-black font-thin text-base"
                  >C</span
                >
              </p>
            </div>
          </div>
        </div>
        <div class="w-full">
          <div class="w-full">
            <p class="font-bold text-xl">Body Weight</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/body-weight.png" alt="" srcset="" />
              <p class="font-bold text-[#a472b8] text-5xl">
                <%= patient.bodyWeight %><span
                  class="text-black font-thin text-base"
                  >kg</span
                >
              </p>
            </div>
          </div>
          <div class="w-full mt-4">
            <p class="font-bold text-xl">Body Height</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/body-height.png" alt="" srcset="" />
              <p class="font-bold text-[#e4c478] text-5xl">
                <%= patient.bodyHeight %><span
                  class="text-black font-thin text-base"
                  >cm</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full hidden" id="page2">
      <div class="flex gap-x-4 items-end">
        <div class="w-[60%] h-72 bg-[#c8e4f1] rounded-xl"></div>
        <div
          class="w-[40%] h-72 bg-[#c8e4f1] rounded-xl flex flex-col justify-between p-4"
        >
          <div>
            <p class="font-bold text-xl">SPO2</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/o2.png" alt="" srcset="" />
              <p class="font-bold text-[#64b278] text-5xl">
                <%= patient.spo2 %><span class="text-black font-thin text-base"
                  >%</span
                >
              </p>
            </div>
          </div>
          <div>
            <p class="font-bold mt-2 text-xl">RR</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/rr.png" alt="" srcset="" />
              <p class="font-bold text-[#e47278] text-5xl">
                <%= patient.rr %><span class="text-black font-thin text-base"
                  >bpm</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-1 mt-4 text-lg font-bold">Light Sleep</div>
      <div class="flex items-center gap-x-2">
        <div class="w-[80%] h-4 bg-gray-200 rounded-full">
          <div class="h-4 bg-[#6e7df7] rounded-full" style="width: 20%"></div>
        </div>
        <p class="font-thin">20 minutes</p>
      </div>
      <div class="mb-1 mt-4 text-lg font-bold">Deep Sleep</div>
      <div class="flex items-center gap-x-2">
        <div class="w-[80%] h-4 bg-gray-200 rounded-full">
          <div class="h-4 bg-[#a87dbe] rounded-full" style="width: 70%"></div>
        </div>
        <p class="font-thin">2 hours 35 minutes</p>
      </div>
      <div class="mb-1 mt-4 text-lg font-bold">REM</div>
      <div class="flex items-center gap-x-2">
        <div class="w-[80%] h-4 bg-gray-200 rounded-full">
          <div class="h-4 bg-[#deef91] rounded-full" style="width: 15%"></div>
        </div>
        <p class="font-thin">15 minutes</p>
      </div>
      <div class="mb-1 mt-4 text-lg font-bold">Awake</div>
      <div class="flex items-center gap-x-2">
        <div class="w-[80%] h-4 bg-gray-200 rounded-full">
          <div class="h-4 bg-[#e1c885] rounded-full" style="width: 40%"></div>
        </div>
        <p class="font-thin">2 hours</p>
      </div>
    </div>

    <div class="w-full hidden" id="page3">
      <div class="flex gap-x-4 items-center">
        <div
          class="w-full bg-[#c8e4f1] rounded-xl flex flex-col justify-between p-4"
        >
          <div>
            <p class="font-bold text-xl">Systolic</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/systolic.png" alt="" srcset="" />
              <p class="font-bold text-[#e47278] text-5xl">
                <%= patient.systolic %><span
                  class="text-black font-thin text-base"
                  >mmHg</span
                >
              </p>
            </div>
          </div>
          <div>
            <p class="font-bold text-xl">Diastolic</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/systolic.png" alt="" srcset="" />
              <p class="font-bold text-[#e47278] text-5xl">
                <%= patient.diastolic %><span
                  class="text-black font-thin text-base"
                  >mmHg</span
                >
              </p>
            </div>
          </div>
          <div>
            <p class="font-bold text-xl">Mean Pulse</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/mean-pulse.png" alt="" srcset="" />
              <p class="font-bold text-[#a472b8] text-5xl">
                <%= patient.meanPulse %><span
                  class="text-black font-thin text-base"
                  >bpm</span
                >
              </p>
            </div>
          </div>
          <div>
            <p class="font-bold text-xl">Body Site</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/body-site.png" alt="" srcset="" />
              <p class="font-bold text-[#b7878d] text-5xl">
                left<span class="text-black font-thin text-base">hand</span>
              </p>
            </div>
          </div>
        </div>
        <div
          class="w-full h-64 bg-[#c8e4f1] rounded-xl flex flex-col justify-between p-4"
        >
          <div>
            <p class="font-bold text-xl">Blood Pressure</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/blood-pressure.png" alt="" srcset="" />
              <p class="font-bold text-[#6472f8] text-5xl">
                <%= patient.systolic %>/<%= patient.diastolic %><span
                  class="text-black font-thin text-base"
                  >mmHg</span
                >
              </p>
            </div>
          </div>
          <div>
            <p class="font-bold mt-2 text-xl">Heart Rate</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/heart-rate-2.png" alt="" srcset="" />
              <p class="font-bold text-[#e4c478] text-5xl">
                <%= patient.heartRate %><span
                  class="text-black font-thin text-base"
                  >bpm</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full hidden" id="page4">
      <div
        class="w-full flex flex-col lg:flex-row gap-x-32 lg:mt-4 mt-2 bg-[#c8e4f1] p-4 rounded-xl"
      >
        <div class="w-full">
          <div class="w-full">
            <p class="font-bold text-xl">BMI</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/bmi.png" alt="" srcset="" />
              <p class="font-bold text-[#5daf70] text-5xl">
                <%= patient.bmi %><span class="text-black font-thin text-base"
                  >kg/m2</span
                >
              </p>
            </div>
          </div>
          <div class="w-full mt-4">
            <p class="font-bold text-xl">Body Temperature</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/body-temperature.png" alt="" srcset="" />
              <p class="font-bold text-[#e47278] text-5xl">
                <%= patient.bodyTemperature %>°<span
                  class="text-black font-thin text-base"
                  >C</span
                >
              </p>
            </div>
          </div>
        </div>
        <div class="w-full">
          <div class="w-full">
            <p class="font-bold text-xl">Body Weight</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/body-weight.png" alt="" srcset="" />
              <p class="font-bold text-[#a472b8] text-5xl">
                <%= patient.bodyWeight %><span
                  class="text-black font-thin text-base"
                  >kg</span
                >
              </p>
            </div>
          </div>
          <div class="w-full mt-4">
            <p class="font-bold text-xl">Body Height</p>
            <div class="flex justify-between items-center mt-2">
              <img src="/images/body-height.png" alt="" srcset="" />
              <p class="font-bold text-[#e4c478] text-5xl">
                <%= patient.bodyHeight %><span
                  class="text-black font-thin text-base"
                  >cm</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full hidden" id="page5">
      <div class="w-full flex gap-x-4 h-72 bg-[#c8e4f1] p-4 rounded-xl">
        <canvas id="myChart" class="w-full"></canvas>
        <form action="/createdAt" method="POST">
          <label for="createdAt" class="font-bold text-3xl block"
            >Choose Date</label
          >
          <input
            type="date"
            name="createdAt"
            id="createdAt"
            class="mt-2 bg-transparent focus:outline-none"
            onchange="updateChart()"
            value="2021-11-20"
          />
        </form>
      </div>
    </div>

    <button
      class="lg:flex items-center hidden"
      onclick="showPage('page5'); toggleRotation();"
    >
      <img src="/images/window.png" class="-mr-2" />
      <img
        id="rotateImage"
        src="/images/arrow-down.png"
        class="transition duration-150 ease-in"
      />
    </button>
  </div>
</main>

<script>
  function changeImage(optionId, newSrc) {
    const image = document.getElementById(`${optionId}Image`);
    image.src = newSrc;
  }
</script>

<script>
  function toggleRotation() {
    const rotateImage = document.getElementById("rotateImage");
    rotateImage.classList.toggle("rotate-180");
  }
</script>

<script>
  function showPage(pageId) {
    // Hide all pages
    const pages = document.querySelectorAll(".main > div");
    pages.forEach((page) => {
      page.style.display = "none";
    });

    // Show the selected page
    const selectedPage = document.getElementById(pageId);
    if (selectedPage) {
      selectedPage.style.display = "block";
    }
  }
</script>

<script>
  const ctx = document.getElementById("myChart");

  const patient = {features: <%-JSON.stringify(patient)%>};

  let newPatient = {
        date: '2021-11-20',
        time: [
          '01:58:10.469',
          '07:40:18.206',
          '08:02:28.956',
          '08:09:14.033',
          '13:37:23.187'
        ],
        systolic: [ 126, 126, 126, 121, 118 ],
        diastolic: [ 87, 85, 83, 81, 80 ],
        meanPulse: [ 39, 41, 43, 40, 38 ]
      };

  var myChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: newPatient.time,
      datasets: [
        {
          label: "Mean Pulse", // Name the first series
          data: newPatient.meanPulse, // Specify the data values array
          fill: false,
          borderColor: "#6472f8", // Add custom color border (Line)
          backgroundColor: "#6472f8", // Add custom color background (Points and Fill)
          borderWidth: 1, // Specify bar border width
        },
        {
          label: "Systolic", // Name the first series
          data: newPatient.systolic, // Specify the data values array
          fill: false,
          borderColor: "#2196f3", // Add custom color border (Line)
          backgroundColor: "#2196f3", // Add custom color background (Points and Fill)
          borderWidth: 1, // Specify bar border width
        },
        {
          label: "Diastolic", // Name the second series
          data: newPatient.diastolic, // Specify the data values array for the second line
          fill: false,
          borderColor: "#ff5722", // Add custom color border for the second line
          backgroundColor: "#ff5722", // Add custom color background for the second line
          borderWidth: 1, // Specify bar border width for the second line
        },
      ],
    },
    options: {
      responsive: true, // Instruct chart js to respond nicely.
      maintainAspectRatio: true, // Add to prevent default behaviour of full-width/height
    },
  });

  function updateChart() {
    const selectedDate = document.getElementById("createdAt").value;
    newPatient = patient.features.history.find(
      (entry) => entry.date === selectedDate
    );
    console.log(myChart.data)
    myChart.data.labels = newPatient.time;
    myChart.data.datasets[0].data = newPatient.meanPulse;
    myChart.data.datasets[1].data = newPatient.systolic;
    myChart.data.datasets[2].data = newPatient.diastolic;
    myChart.update();
  }
</script>
